@model Mother.Web.ViewModels.MotherTableViewModel
@using AisleAware.Common.Mother
@using Mother.Web.ViewModels

@{
    ViewData["Title"] = "Mother Report";
    List<int> DaySelectChoices = new List<int>() { 1, 2, 3, 7, 14, 21, 30, 90 };
}

<div class="text-center mt-2">
    <h1>Welcome to Mother</h1>
    <h4>The AisleAware LLC Status Portal</h4>
    <img src="~/images/Mother.jpg" class="img-fluid" alt="Mother waiting for a call" />
    <a href="https://www.freestock.com/free-photos/woman-waiting-call-next-old-style-70897285">
        <div class="figure-caption">Image used under license from Freestock.com</div>
    </a>
</div>
<hr />
<div class="text-center">
    <h6>Mother is always waiting for calls from child installations.</h6>
    <h6>Mother worries if a child doesn't call in on time.</h6>
    <h6>Mother remembers every child's call.</h6>
    <h6>Ask Mother for reports.</h6>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-4 col-md-2">
        <a asp-action="login" asp-controller="account" class="btn btn-primary btn-block">Login</a>
    </div>
    <div class="col-4 col-md-2">
        <a asp-action="register" asp-controller="account" class="btn btn-secondary btn-block">Register</a>
    </div>
</div>